div(class="row")
  div(class="col-sm frow")
    p #[strong Mme / M :] #{fullname}

div(class="row")
  div(class="col-sm frow")
    p #[strong Né(e) le :] #{birthdate}

div(class="row")
  div(class="col-sm frow")
    p #[strong Demeurant :] #{address}

include deroga-raisons.pug

div(class="row")
  div(class="col-sm frow")
    p #[strong Fait à] #{doneAt}#[strong , Le] #{doneOn}

- var signatureSrc = signature;
- var qrCodeSrc = qrCode;

div(class="row" id="signature-img")
  div(class="col-sm frow") #[strong Signature :]
    img(src=signatureSrc)
